* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Navigation Bar styles */
  nav {
    background-color: #333;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
  }
  
  /* Home Section styles */
  section#home {
    text-align: center;
    padding: 3rem 0;
  }
  
  section#home h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  section#home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 1rem auto;
    display: block;
  }
  
  /* Description Section styles */
  section#description {
    padding: 2rem 0;
  }
  
  /* Resume Section styles */
  section#resume {
    padding: 2rem 0;
  }
  
  /* Education Section styles */
  section#education {
    padding: 2rem 0;
  }
  
  section#education h2 {
    margin-bottom: 1rem;
  }
  
  /* Courses Taken Section styles */
  section#courses {
    padding: 2rem 0;
  }
  
  section#courses h2 {
    margin-bottom: 1rem;
  }
  
  section#courses ul {
    list-style-type: none;
    padding-left: 1rem;
  }
  
  section#courses li {
    margin-bottom: 0.5rem;
  }
  
  /* Skills Section styles */
  section#skills {
    padding: 2rem 0;
  }
  
  section#skills h2 {
    margin-bottom: 1rem;
  }
  
  /* Projects Section styles */
  section#projects {
    padding: 2rem 0;
  }
  
  section#projects h2 {
    margin-bottom: 1rem;
  }
  
  section#projects ul {
    list-style-type: none;
    padding-left: 1rem;
  }
  
  section#projects li {
    margin-bottom: 1rem;
  }
  
  /* Work Experience Section styles */
  section#experience {
    padding: 2rem 0;
  }
  
  section#experience h2 {
    margin-bottom: 1rem;
  }
  
  section#experience ul {
    list-style-type: none;
    padding-left: 1rem;
  }
  
  section#experience li {
    margin-bottom: 0.5rem;
  }
  
  /* Contact Information Section styles */
  section#contact {
    padding: 2rem 0;
  }
  
  section#contact h2 {
    margin-bottom: 1rem;
  }
  
  section#contact p {
    margin-bottom: 0.5rem;
  }
  